.navbar{
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  /* background-color: black; */
  background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
  z-index: 1;
}

.left-navbar{
  display: flex;
  align-items: center;
  gap: 50px;
}

.left-navbar img {
  width: 150px;
}

.left-navbar ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

.left-navbar ul li{
  cursor: pointer;
}

.right-navbar{
  display: flex;
  gap: 20px;
  align-items: center;
}

.right-navbar .icons{
  width: 20px;
  cursor: pointer;
}

.right-navbar .icon{
  height: 80px;
}

.right-navbar .profile{
  border-radius: 4px;
  width: 34px;
}

.navbar-profile{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: xx-large;
  cursor: pointer;
  position: relative;
}

.navbar .dropdown{
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 18px 22px;
  border-radius: 2px;
  text-decoration: underline;
  z-index: 1;
  display: none;
  /* transition-duration: 300s; */
}

.dropdown p{
  font-size: 13px;
  cursor: pointer;
}

.navbar-profile:hover .dropdown{
  display: block;
}

@media (max-width:1080px) {
  .navbar{
    padding: 20px 6%;
  }
  .left-navbar{
    gap: 20px;
  }
  .left-navbar ul{
    gap: 10px;
  }
}

@media (max-width:800px) {
  .navbar{
    padding: 20px 4%;
  }
  .navbar img{
    height: 25;
  }
  .left-navbar ul{
    display: none;
  }
}

@media (max-wdth:500px) {
  .navbar img{
    height: 20px;
  }
  .right-navbar{
    gap: 10px;
  }
}